<div>
    <h2>Rental Car History</h2>
    <table class="table table-hover ">
        <thead>
            <tr class="text-center">
                <th>Car ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Create Date</th>
                <th>Request Date</th>
                <th>Update Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of rentalRequest">
                <td>{{ request.carId |idFormatter:'Car-' }}</td>
                <td>{{ request.startDate | date:'shortDate' }}</td>
                <td>{{ request.endDate | date:'shortDate' }}</td>
                <td [style.color]="getStatusText(request.status).color">{{ getStatusText(request.status).text }}</td>
                <td>{{ request.createDate | date:'shortDate' }}</td>
                <td>{{ request.requestDate | date:'shortDate' }}</td>
                <td>{{ request.updateDate ? (request.updateDate | date:'shortDate') : 'Not Updated' }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="rentalRequest.length === 0">
        <p>No rental history found.</p>
      </div>
</div>