
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color:#383d47;
    color: white;
    font-weight: bold;
  }
  
  td {
    background-color: black;
  }
  
  td {
    color: white;
  }