<div class="container mt-4">
    <h2>Payment Details</h2>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Rental ID</th>
                <th>Rental Payment</th>
                <th>Advance Payment</th>
                <th>Inspection Payment</th>
                <th>Overdue Payment</th>
                <th>Overage Payment</th>
                <th>Total Payment</th> <!-- New column for Total Payment -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments">
                <td>{{ payment.paymentId|idFormatter:'Pay-' }}</td>
                <td>{{ payment.rentalId|idFormatter:'Ren-' }}</td>
                <td>{{ payment.rentalPayment || 'N/A' }}</td>
                <td>{{ payment.advancePayment  || 'N/A' }}</td>
                <td>{{ payment.inspectionPayment|| 'N/A' }}</td>
                <td>{{ payment.overduePayment  || 'N/A'}}</td>
                <td>{{ payment.overagePayment || 'N/A' }}</td>
                <td>{{ calculateTotalPayment(payment) }}</td> <!-- Display total payment -->
            </tr>
        </tbody>
    </table>
</div>