.rental-table {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  background-color: black;
  padding: 8px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #ddd;
}
td{
  background-color: #ddd;
}
button {
  margin-right: 5px;
}

.modal {
  display: none;
}

.modal.show {
  display: block;
}

.modal-dialog {
  max-width: 600px;
}

.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
