<div class="container">
    <div class="row g-3">
        <!-- Card Loop -->
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let card of cards" [routerLink]="[card.link]">
            <div class="card" [ngStyle]="{ 'background-color': card.bgColor }">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title text-white">{{ card.title }}</h5>
                        <i class="{{ card.icon }}"></i>
                    </div>
                    <p class="card-text text-white text-center fs-2">{{ card.value }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- First Chart Container (MyChart) -->
    <div class="chart-container d-flex flex-column flex-md-row justify-content-between my-4">
        <h3 class="chart-heading1 mb-3 mb-md-0">Daily Rental Requests</h3>
        <canvas id="dailyChart" class="w-100 w-md-75"></canvas>
    </div>

    <!-- Second Chart Container (Payment Breakdown) -->
    <div class="payment-summary d-flex flex-column flex-md-row justify-content-between my-4">
        <h3 class="chart-heading mx-5 mb-3 mb-md-0">Payment Breakdown</h3>
        <canvas id="paymentChart" class="w-100 w-md-75"></canvas>
    </div>
</div>